.container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: relative;
}

.container canvas {
  display: block;
  opacity: 0;
  animation: fadeInCanvas 2s ease-in-out 0.5s forwards;
}

@keyframes fadeInCanvas {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 300px;
  }
}
